[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:skinitimski/nerdtree.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = git@github.com:skinitimski/vim-nerdtree-tabs.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:skinitimski/vim-airline.git
[submodule "bundle/vim-jinja2-syntax"]
	path = bundle/vim-jinja2-syntax
	url = git@github.com:skinitimski/Vim-Jinja2-Syntax.git
